<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/">About</a>
      <a href="/research.html">Research</a>
      <a href="/publications.html">Publications</a>
      <a href="/teaching.html">Teaching</a>
      <a href="/cv.html">CV</a>
      <button id="theme-toggle" aria-label="Toggle dark/light mode">☀️</button>   
 </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <script src="{{ '/assets/theme-toggle.js' | relative_url }}"></script>
</body>
</html>

